body {
    margin: 0;
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: url("/home4.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}

header {
    h1 {
        color: white;
        font-size: 60px;    
        text-shadow: 5px 5px 6px #524f4e;
        font-family: 'Pacifico', cursive;
    }
}