<header class="landing-header">
    <h1>Rent App</h1>
</header>

<main>
    <section class="landing-section">
        
        <form class="create-ad" action="/create-ads" method="GET">
            <button>Create ad</button>
        </form>
        <form action="/ads" class="view-ads" method="GET">
            <button>View ads</button>
        </form>
    </section>
</main>